<nav class="navbar navbar-expand-lg navbar-light" style="border-bottom: 1px solid rgb(206, 206, 206);">
  <div class="container">
    <!-- Logo on the left -->
    <a class="navbar-brand" href="#">
      <img src="assets/logo.png" alt="Logo" width="80" height="40" class="d-inline-block align-top" />
    </a>

    <!-- Navbar toggler for mobile view -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Right-side elements -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav align-items-center">
        <!-- Devenir Pro -->
        <li class="nav-item">
          <a
            class="nav-link pro-cls"
            href="/pro-form"

          >
            Devenir Pro
          </a>
        </li>

        <!-- Créer un compte -->
        <li class="nav-item ms-3">
          <a class="nav-link"  style="padding: 0;" (click)="showIframe=true">
            <div class="custom-button">
              Créer un compte
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="app-background">
  <!-- White overlay div -->
<div class="overlay">

  <!-- Optional overlay content -->
  <div class="overlay-content">
    <h1 style="font-weight: bold;color: #ffffff; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);"> Préservez votre foyer </h1>
    <h3 style="font-weight: bold;color: #66c890;text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);"> et votre temps</h3>
  </div>
</div>
</div>
<div class="content-container">
  <h1 style="font-weight: bold;color: #66c890;">Parmi nos offres</h1>

</div>



<div class="grid-container">

  <div class="grid-item">
    <div class="item-content">
      <div class="content-row">
        <img src="assets/icons/femme-de-menage.png" alt="Image" class="content-image" />
        <div class="text-content">
          <p style="font-weight: bold; text-align: center;"> Une aide ménagère pour vous soulager et libérer votre emplois du temps</p>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-item">
    <div class="item-content">
      <div class="content-row">
        <img src="assets/icons/mere.png" alt="Image" class="content-image" />
        <div class="text-content">
          <p style="font-weight: bold; text-align: center;"> Une garde d'enfant qui saura s'occuper de vos enfants comme si c'était les leurs</p>
        </div>
      </div>
    </div>
  </div>


  <div class="grid-item">
    <div class="item-content">
      <div class="content-row">
        <img src="assets/icons/groom.png" alt="Image" class="content-image" />
        <div class="text-content">
          <p style="font-weight: bold; text-align: center;"> Un valet ou une femme de chambre pour prendre soin de chaque détail de votre foyer</p>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="app-background-call-to-act">
  <!-- White overlay div -->
  <div class="overlay">
    <!-- Optional overlay content -->
    <div class="overlay-content">
      <div class="button-group">
        <button class="custom-button-create" (click)="showIframe=true">Créer un compte et bénéficier des services</button>
        <button class="custom-button-PRO" (click)="openLink('/pro-form')">Devenir pro et trouver des opportunités</button>
      </div>
    </div>
  </div>
</div>


<div *ngIf="showIframe" class="overlay-2" (click)="closeIframe()">
  <div class="iframe-wrapper" (click)="$event.stopPropagation()">
    <div class="form-container" style="padding-top: 30px; padding-bottom: 30px;">
      <h2 class="text-center" style="padding-bottom: 20px;">
        <img src="assets/logo.png" alt="Logo" width="110" height="60" class="d-inline-block align-top" />

      </h2>
      <form (ngSubmit)="openLink('')" style="padding-bottom: 10px;">
        <div class="mb-3">
          <input type="text" class="form-control input-width" [(ngModel)]="firstName" name="firstName" placeholder="Prénom" required>
        </div>

        <div class="mb-3">
          <input type="text" class="form-control input-width" [(ngModel)]="lastName" name="lastName" placeholder="Nom" required>
        </div>

        <div class="mb-3">
          <input type="email" class="form-control input-width" [(ngModel)]="email" name="email" placeholder="Adresse mail" required>
        </div>

        <div class="mb-3">
          <input type="tel" class="form-control input-width" [(ngModel)]="phone" name="phone" placeholder="Numéro de téléphone" required>
        </div>
      </form>
      <button type="submit" class="btn btn-success submit-btn" > Inscription </button>

    </div>
    <button class="close-btn" (click)="closeIframe()">×</button>
  </div>
</div>



