<div class="app-background">
  <!-- White overlay div -->
<div class="overlay">

  <!-- Optional overlay content -->
  <div class="overlay-content">
    <h1 style="font-weight: bold;color: #ffffff; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);"> Préservez votre foyer </h1>
    <h3 style="font-weight: bold;color: #66c890;text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);"> et votre temps</h3>
  </div>
</div>
</div>
<div class="content-container">
  <h1>Ce que nous offrons</h1>

</div>



<div class="grid-container">

  <div class="grid-item">
    <div class="item-content">
      <div class="content-row">
        <img src="assets/icons/femme-de-menage.png" alt="Image" class="content-image" />
        <div class="text-content">
          <p style="font-weight: bold; text-align: center;"> Une aide ménagère pour vous soulager et libérer votre emplois du temps</p>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-item">
    <div class="item-content">
      <div class="content-row">
        <img src="assets/icons/mere.png" alt="Image" class="content-image" />
        <div class="text-content">
          <p style="font-weight: bold; text-align: center;"> Une garde d'enfant qui saura s'occuper de vos enfants comme si c'était les leurs</p>
        </div>
      </div>
    </div>
  </div>


  <div class="grid-item">
    <div class="item-content">
      <div class="content-row">
        <img src="assets/icons/femme.png" alt="Image" class="content-image" />
        <div class="text-content">
          <p style="font-weight: bold; text-align: center;"> Un valet ou une femme de chambre pour prendre soin de chaque détail de votre foyer</p>
        </div>
      </div>
    </div>
  </div>

</div>

