/* Ensure the whole page takes full height */





.full-width-div {
  width: 100%;  /* Takes up 100% of the available width */
  box-sizing: border-box;  /* Ensures padding and border are included in the width */
}



html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

/* Form container */
.form-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;

}

/* Center each step inside the form */
.step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

/* Style inputs */
input {
  width: 80%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

/* Style buttons */
button {
  width: 80%;
  padding: 12px;
  background-color: #4C9591;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #3a7d73;
}

/* Slide transition */
.slide-left {
  animation: slideLeft 0.5s ease-in-out forwards;
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
